Source: synaptic
Section: admin
Priority: optional
Maintainer: Michael Vogt <mvo@debian.org>
Build-Depends: debhelper-compat (= 12), libapt-pkg-dev (>= 0.8.16~exp12), gettext, libgtk-3-dev, libvte-2.91-dev, intltool, xmlto, libsm-dev , sharutils, lsb-release, dpkg (>= 1.13.9), libept-dev (>= 1.0.5)
Build-Conflicts: librpm-dev
Standards-Version: 3.7.2.2
Vcs-Git: https://github.com/mvo5/synaptic.git
Homepage: https://github.com/mvo5/synaptic/wiki
X-Ubuntu-Use-Langpack: yes
Vcs-Browser: https://github.com/mvo5/synaptic

Package: synaptic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hicolor-icon-theme, policykit-1
Conflicts: menu (<< 2.1.11)
Recommends: libgtk3-perl, xdg-utils
Suggests: dwww, menu, deborphan, apt-xapian-index, tasksel, software-properties-gtk
Description: Graphical package manager
 Synaptic is a graphical package management tool based on GTK+ and APT.
 Synaptic enables you to install, upgrade and remove software packages in
 a user friendly way.
 .
 Besides these basic functions the following features are provided:
  * Search and filter the list of available packages
  * Perform smart system upgrades
  * Fix broken package dependencies
  * Edit the list of used repositories (sources.list)
  * Download the latest changelog of a package
  * Configure packages through the debconf system
  * Browse all available documentation related to a package (dwww is required)
