#!/usr/bin/make -f

DHFLAGS=--parallel
MESON_FLAGS= --prefix=/usr \
	     --localstatedir=/var/lib/synaptic \
	     -Dpkg_hold=true

%:
	dh $@ $(DHFLAGS) --buildsystem=meson --without autoreconf --without autotools-dev

override_dh_auto_configure:
	dh_auto_configure $(DHFLAGS) -- $(MESON_FLAGS)

override_dh_update_autotools_config:

override_dh_auto_install:
	dh_auto_install $(DHFLAGS)
	# Keep Ubuntu's supported-package badge in the binary package.
	if dpkg-vendor --derives-from Ubuntu >/dev/null 2>&1; then \
		cp debian/package-supported.png.Ubuntu $(CURDIR)/debian/synaptic/usr/share/icons/hicolor/16x16/actions/package-supported.png; \
	fi

override_dh_installman:
	dh_installman -psynaptic man/synaptic.es.8 man/synaptic.fr.8 man/synaptic.hr.8 man/synaptic.ja.8 man/synaptic.pt_BR.8 man/synaptic.ru.8 man/synaptic.tr.8
