[Desktop Entry]
Name=Software
Name[de]=Software
Comment=Install, remove and upgrade software packages
Comment[de]=Software-Pakete installieren, entfernen und aktualisieren
Exec=gksu -u root /usr/sbin/synaptic
Icon=/usr/share/synaptic/pixmaps/synaptic_48x48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;System;
