[Desktop Entry]
Name=Synaptic Package Manager
Name[de]=Synaptic Paket Manager
Name[fr]=Gestionnaire des Progiciels Synaptic
Name[ja]=Synaptic•—•√•±°º•∏•ﬁ•Õ°º•∏•„
Comment=Synaptic Package Manager
Comment[de]=Synaptic Paket Manager
Comment[fr]=Gestionnaire des Progiciels Synaptic
Comment[ja]=Synaptic•—•√•±°º•∏•ﬁ•Õ°º•∏•„„
Exec=gksu -u root /usr/sbin/synaptic
Icon=/usr/share/synaptic/pixmaps/synaptic_48x48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=GNOME;Application;System;
